* {
  margin: 0;
  padding: 0;
}

.header {
  width: 1920px;
  height: 400px;
  background-image: url("coffee2.jpg");
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-size: 20px;
}

.bigRow {
  display: inline-block;
}
.vl {
  margin-top: 40px;
  margin-left: 50px;
  border-left: 2px solid lightgray;
  height: 400px;
  float: left;
}
.jobDescription {
  float: left;
}

.jobDescriptionTitle {
  width: 750px;
  margin-left: 75px;
  margin-top: 75px;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: black;
}

.jobDescriptionAbout {
  width: 750px;
  margin-top: 30px;
  margin-left: 75px;
  font-family: 'Comfortaa';
  font-size: 22px;
  color: dimgray;
  text-align: justify;
  text-justify: inter-word;
}
