* {
  margin: 0;
  padding: 0;
}

.header {
  width: 1920px;
  height: 400px;
  background-image: url("coffee2.jpg");
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-size: 20px;
}

.bigRow {
  display: inline-block;
}
.vl1 {
  margin-top: 40px;
  border-left: 2px solid lightgray;
  height: 525px;
  float: left;
}
.jobDescription {
  float: left;
}
.jobDescriptionTitle {
  width: 750px;
  margin-left: 75px;
  margin-top: 75px;
  margin-right: 50px;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: black;
}
.jobDescriptionAbout {
  width: 750px;
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 50px;
  font-family: 'Comfortaa';
  font-size: 22px;
  color: dimgray;
  text-align: justify;
  text-justify: inter-word;
}
.qualifications {
  float: left;
}
.qualificationsTitle {
  width: 750px;
  margin-left: 75px;
  margin-top: 75px;
  margin-bottom: 10px;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: black;
}
ul.qualificationsDescription {
  list-style-type: square;
  width: 750px;
}
ul.qualificationsDescription li {
  margin-top: 13px;
  margin-left: 125px;
  font-family: 'Comfortaa';
  font-size: 22px;
  color: dimgray;
  text-align: justify;
  text-justify: inter-word;
}






.worksCitedTitle {
  width: 750px;
  margin-left: 75px;
  margin-top: 75px;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: black;
}
.citation {
  width: 1400px;
  margin-top: 50px;
  padding-left: 75px;
  text-indent: -30px;
  font-family: 'Comfortaa';
  font-size: 22px;
  color: dimgray;
  text-align: left;
}
